.PageSelection{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    /* background-color: burlywood; */
    color: rgb(57, 15, 82);
    margin: 0%;
    padding: 0%;
    height: 4%;
    width: 100%;
}

.NameTypeSelection{
    width: 38.8%;
    height: 100%;
    margin: 1.2% 0% 0% 1.2%;
    padding:0%;
    /* background-color: antiquewhite; */
    float: left;
    text-transform: capitalize;
}

.PageDisplay {
    /* background-color: rgb(78, 145, 202); */
    width: 60%;
    height: 100%;
    margin: 0%;
    padding:0%;
    float: left;
    text-align: right;
}

.PageDisplay a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 0px 5px;
    height: 20px;
}

.PageDisplay .disable:hover{
    background-color: rgb(165, 161, 187);
    cursor: not-allowed;
    opacity: 0.8;
}

.PageDisplay .enable:hover{
    background-color: rgb(223, 165, 238);
    cursor: pointer;
    opacity: 0.8;
}


.previous {
    background-color: rgb(92, 37, 124);
    opacity: 0.5;
    color: white;
}

.next {
    background-color: rgb(92, 37, 124);
    opacity: 0.5;
    color: white;
}

.round {
    border-radius: 50%;
}

.disable {
    background-color: rgb(104, 101, 122);
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.enable {
    background-color: rgb(126, 113, 199);
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}

