.mapStyle1 {
    width: '80vw';
    height: '100vh';
    float: left;
}


.stores{
    width: 100%; 
    height: 10%;
    font-family: 'Quicksand', sans-serif;
    /* font-size: 50%; */
    text-align: left;
    color: rgb(26, 87, 39);
}


.storesText{
    margin-left: 5%;
}