.Content{ 
    /* background-color: rgb(250, 235, 212); */
    border-radius: 5%;
    width: 85%;
    height: 80%;
    margin: 0% 7.5%;
}

.ContentBody{
    width:100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.CardsArea{
    width:90%;
    height: 100%;
    float: left;
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(187, 164, 209); */
}


.Filters{
    width: 100%;
    height: 5%;
    /* background-color: aqua; */
    margin:0%;
    padding: 0%;
}

hr{
    width: 98%;
    margin: 0.5% 1%;
    padding: 0%;
}

.Side{
    width: 5%;
    height:100%;
    /* background-color: green; */
    float:left;
    margin: 0%;
    padding: 0%;
}


.firstRenderingContainer{
    position: relative;
}

.firstRenderingText{
    position: absolute;
    top: 20%; 
    left: 25%;
    height: 100%;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    text-align: center;
    color: rgb(26, 87, 39);
    /* z-index: 10; */
}

.firstRenderingPic {
    /* position: absolute; */
    height: 70%;
    width: 100%;
    margin: 1% 0% 0% 0%;
    padding: 0%;
    border-radius: 1%;
    opacity: 0.3;
    /* z-index: 1; */
}   


