.type{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    /* background-color: bisque; */
    height: 50%;
    margin: 0%;
    padding:0%;
}   

.type a{
    display: inline-table;
    text-align: center;
    width: 20%;
    height: 50%;
    margin-top: 1%;
    padding: 0%;
    text-decoration: none;
}