.Header {
    height: 2.5%;
    width: 85%;
    margin: 0.5% 7% ;    
    /* background-color: rgb(104, 31, 92);     */
    border-radius: 10px;

}

.clickedNavElt {
    font-weight: bold;
    color:blue;
    background-color: aliceblue;
}